@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "idroid";
    src: url("../fontes/idroid.otf") ;
    font-weight: normal;
    font-style: normal;
}



:root{

    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue';
    --fonte-android: "idroid", arial;
}

*{

    margin: 0px;
    padding: 0px;

}



header{

   background-image:linear-gradient(to bottom, var(--cor3),var(--cor5));
   min-height: 150px;
   text-align: center;
   padding-top: 40px;



}




header > h1 {


    color:white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.518);

    



}

header > p{


    color: white;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    font-size: 1.2em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.518);

}



nav{
 background-color: var(--cor5);
 padding: 10px;
 box-shadow: -3px 7px 7px 1px rgba(0, 0, 0, 0.335);
 font-weight: bold;

}
nav > a{

    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: .5s ;
    margin-bottom: 20px;
}

nav > a:hover{

background-color: var(--cor3);
color: var(--cor5);
transition-duration: 1 ;
}



body{

    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);

}

a.externo::after{

    content: "\1F517\00A0";
}


div.video{


    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
    
}

div.video > iframe{

    position:absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

main{

    background-color: white;
    min-width: 300px;
    max-width: 1000px;
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

}

main img{


    width: 100%;
}

main img.pequena{

    max-width: 350px;
    display: block;
    margin: auto;
}

main a{

    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 10px;
}



main a:hover{

    text-decoration: underline;
    color: var(--cor4);
}




main p{

    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2;
    font-size: 1em;


}

main strong{

   

    font-weight: bold;
    color: var(--cor4);
}

main  h1{

color: var(--cor5);
font-family: var(--fonte-android);
font-weight: normal
}

main h2{

    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1),transparent);
}



aside{

    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.383);


}

aside > ul{

list-style-position: inside;
columns: 2;
list-style-type: "\2714\00A0\00A0";
}

aside >h3{


    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

footer{
 
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;


}

footer > p > a{


    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{

    text-decoration: underline;
    color: var(--cor1);

}